@import '../../components/variables.scss';

.root {
  // padding-left: 20px;
  // padding-right: 20px;
  background-color: #f6f6f6;
  position: relative;
  width: 80%;
  padding: 0 10%;
}

.leftpart {
  vertical-align: top;
  width: 62.5%;
  margin-top: 10px;
}

.title {
  font-size: 25px;
  color: #6a8;
  margin: 15px 0 10px;
}

.mainnews {
  height: 100%;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}


.hotNews {
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.aboutus {
  background-color: #fff;
  max-width: 300px;
  padding-left: 5px;
  padding-right: 5px;
}

.info{
  line-height: 2em;
}
.email {
  text-align: center;
}

.email svg {
  vertical-align: middle;
  margin-right: 5px;
}

.email a {
  color: #6a8;
  text-decoration: none;
  font-family: Consolas;
  letter-spacing: 1.25px;
}

.email a:hover {
  color: #a3ccb7;
}

.container {
  display: inline-block;
  margin: 0 auto;
  margin-right: 15px;
}

.news {
  padding: 0;
}

.newsItem {
  list-style-type: none;
  padding-bottom: 6px;
}

.newsTitle {
  font-size: 1.125em;
}

.newsTitle, .newsDesc {
  display: block;
}
