@import '../../components/variables.scss';
@import '../home/Home.scss';

.root {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

// .container{
//   text-align-last:center;
//   background-color:#fff;
//   height : 100%;
// }

.noshow {
  display: none;
}
