.root {
  margin-right:13%;
}

.font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
  // font-weight: bold;
}

.link,
.link:active,
.link:visited {
  border-radius: 3px;
  color: rgba(5, 5, 5, .6);
}

.link:hover {
  // color: rgba(5, 5, 5, 1);
  background: rgba(0, 0, 0, .3);
}

.highlight {
  margin: 18px 20px 0 8px;
  border-radius: 3px;
  // background: rgba(0, 0, 0, .15);
  color: rgba(5, 5, 5, .6);
}

.highlight:hover {
  background: rgba(0, 0, 0, .3);
}

.spacer {
  color: rgba(255, 255, 255, .3);
}
